html{
/* Fix the proble of repeating page (when it's too small) */
height: 100%;

}
body{
    background-color: #3b4252;
    /* background-image: linear-gradient(90deg, #3b4252 0%, #434c5e 100%); */
     /* default settings */
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

header{
    /* background-color: blue; */
    min-height: 100px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white ;
}

nav{
    text-align: right;
    text-decoration: none;
    padding-top: 25px;
    flex: 2;
}

main{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.container{
    /* background-color: red; */
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    flex: 1;
}

.herobox1{
    flex: 2;
    padding-right: 20px;
}

.herobox2{
    flex: 1;
    /* outline:1px solid red; */
}

.cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1{
    background-image: url(/images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 12px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.356);
}

.card2{
    background-image: url(/images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 12px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.356);
}

.card3{
    background-image: url(/images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 12px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.356);
}

.herobox1 h1{
    font-size: 5rem;
    font-family: "Oswald","Source Sans 3", sans-serif;font-optical-sizing: auto;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.356);
}

.herobox1 p{
    /* 1rem = 16px */
    font-size: 1rem;
    font-family: "Source Sans 3","Oswald", sans-serif;
    line-height: 1.75rem; 
    padding-top: 20px;
}

.mybutton{
    background-color: white;
    color: #fa4083;
    font-family: "Source Sans 3","Oswald", sans-serif;
    padding: 11px 25px;
    text-align: center;
    border-radius: 12px;

}

a.mybutton{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    width: 100px;
    /* box-shadow: 5px 5px rgba(0, 0, 0, 0.356); */
}


.cards h2{
    font-size: 2.5rem;
    font-family: "Oswald","Source Sans 3", sans-serif;font-optical-sizing: auto;
    margin-top: 20px;
}

.cards p{
    /* 1rem = 16px */
    font-size: 0.85rem;
    font-family: "Source Sans 3","Oswald", sans-serif;
    line-height: 1.25rem; 
    margin: 5px 30px 20px 30px;
}

.cards i{
    font-size: 50px;
    padding-top: 30px;
}

.herobox2 img{
    border-radius: 12px;
}


nav a.mybutton{
    display: inline;
    margin-left: 30px;   
}

.navbutton{
    background-color: #3b4252;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
